JsonWriter.writeOffsetDateTime omits second if it's zero, violating RFC 3339

This might not be considered a bug, but given that RFC 3339 is the standard defining date-time formats on the Internet, I feel that strictly conforming to RFC 3339 will result in better interoperability with other implementations. Deviating from Java toString implementation is reasonable in this case.

* [RFC 3339 Section 5.6](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) says the time-second part is mandatory.
* JsonWriter.writeLocalTime (and other functions that depend on it) omits second if it's zero. https://github.com/plokhotnyuk/jsoniter-scala/blob/2abdff4105c4cf4b57c330e2e615c6268becaf92/jsoniter-scala-core/jvm/src/main/scala/com/github/plokhotnyuk/jsoniter_scala/core/JsonWriter.scala#L1945

@finalchild Thanks for the feedback!

Currently, jsoniter-scala formats all `java.time.*` values to match their `.toString` representations.

Please check if the following workaround could be acceptable for your case: https://github.com/plokhotnyuk/jsoniter-scala/blob/261d2427731c1ccb1124f02f25d0b105dc9fafcf/jsoniter-scala-macros/shared/src/test/scala/com/github/plokhotnyuk/jsoniter_scala/macros/JsonCodecMakerSpec.scala#L697-L734

If you would need more strict solution that also requires RFC 3339 seconds in the input then the following formatter could be used for parsing (and for serialization):
```scala
$ scala-cli
Welcome to Scala 3.3.1 (21, Java Java HotSpot(TM) 64-Bit Server VM).
Type in expressions for evaluation. Or try :help.
                                                                                                                                                                                        
scala> import java.time.OffsetDateTime
import java.time.chrono.IsoChronology
import java.time.format.DateTimeFormatterBuilder
import java.time.format.ResolverStyle
import java.time.temporal.ChronoField

val formatter = new DateTimeFormatterBuilder()
  .parseCaseInsensitive()
  .appendValue(ChronoField.YEAR, 4)
  .appendLiteral('-')
  .appendValue(ChronoField.MONTH_OF_YEAR, 2)
  .appendLiteral('-')
  .appendValue(ChronoField.DAY_OF_MONTH, 2)
  .appendLiteral('T')
  .appendValue(ChronoField.HOUR_OF_DAY, 2)
  .appendLiteral(':')
  .appendValue(ChronoField.MINUTE_OF_HOUR, 2)
  .appendLiteral(':')
  .appendValue(ChronoField.SECOND_OF_MINUTE, 2)
  .optionalStart()
  .appendFraction(ChronoField.MILLI_OF_SECOND, 0, 9, true)
  .optionalEnd()
  .appendOffset("+HH:MM", "Z")
  .toFormatter()
  .withResolverStyle(ResolverStyle.STRICT)
  .withChronology(IsoChronology.INSTANCE)
val odt = OffsetDateTime.parse("2021-09-24T12:00:00.001+02:00", formatter)
val str = odt.format(formatter)
OffsetDateTime.parse("2021-09-24T12:00+02:00", formatter)

java.time.format.DateTimeParseException: Text '2021-09-24T12:00+02:00' could not be parsed at index 16
  at java.base/java.time.format.DateTimeFormatter.parseResolved0(DateTimeFormatter.java:2108)
  at java.base/java.time.format.DateTimeFormatter.parse(DateTimeFormatter.java:2010)
  at java.base/java.time.OffsetDateTime.parse(OffsetDateTime.java:405)
  ... 30 elided
```

Thanks for the answer. I would prefer RFC 3339 to be the default implementation, but the other solutions worked for me.